@import url("https://fonts.googleapis.com/css2?family=Nabla&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

div {
  display: flex;
  flex-direction: column;
  font-family: "Nabla", cursive;
  font-size: clamp(2.5rem, 10vw, 10em);
  width: 100vw;
  height: 100vh;
  background: url(./background.jpg) no-repeat center center;
  background-size: cover;
  justify-content: center;
  align-items: center;
  text-shadow: 20px 20px 30px rgba(0, 0, 0, 0.5);
}

button {
  width: clamp(2em, 30vw, 50em);
  padding: 0.5em;
  border-radius: 100vh;
  border: 2px white solid;
  background-color: transparent;
  color: #fff;
  transition: 300ms;
}

button:hover {
  background-color: #fff;
  color: black;
  cursor: pointer;
}
